/* nprogress.css */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #6366f1; /* Customize color here (e.g., indigo-500) */
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px; /* Customize thickness */
}

/* Remove the spinner */
#nprogress .spinner {
  display: none;
}

/* Optional: Add shadow/glow to the bar */
#nprogress .bar {
  box-shadow: 0 0 10px #6366f1, 0 0 5px #6366f1;
}
